<div layout layout-align="center center" class="languageSelector">
    <md-input-container>
        <md-select ng-model="vm.langFrom">
            <md-option value="en">
                <span class="flag-icon flag-icon-gb"></span>
                <span class="langName">English</span>
            </md-option>
            <md-option value="pl">
                <span class="flag-icon flag-icon-pl"></span>
                <span class="langName">Polish</span>
            </md-option>
        </md-select>
    </md-input-container>
    <i class="fa fa-exchange"></i>
    <md-input-container>
        <md-select  ng-model="vm.langTo">
            <md-option value="en">
                <span class="flag-icon flag-icon-gb"></span>
                <span class="langName">English</span>
            </md-option>
            <md-option value="pl">
                <span class="flag-icon flag-icon-pl"></span>
                <span class="langName">Polish</span>
            </md-option>
        </md-select>
    </md-input-container>
</div>