<md-toolbar class="jumbo">
    <div class="md-toolbar-tools">
        <h2 flex layout layout-align="center center">
            <span class="logoFont big">Wiki Dictionary</span>
        </h2>
    </div>
    <form  ng-submit="vm.search(vm.searchPhrase)">
        <div layout layout-align="center center">
            <div layout layout-align="center center">
                <md-input-container>
                    <label>From</label>
                    <md-select ng-model="vm.langFrom">
                        <md-option value="en">
                            <span class="flag-icon flag-icon-gb"></span>
                        </md-option>
                        <md-option value="pl">
                            <span class="flag-icon flag-icon-pl"></span>
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>To</label>
                    <md-select  ng-model="vm.langTo">
                        <md-option value="en">
                            <span class="flag-icon flag-icon-gb"></span>
                        </md-option>
                        <md-option value="pl">
                            <span class="flag-icon flag-icon-pl"></span>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-autocomplete
                    flex="50"
                    md-selected-item="vm.selectedItem"
                    md-search-text="vm.searchPhrase"
                    md-items="item in vm.autocomplete(vm.searchPhrase)"
                    md-item-text="item.phrase"
                    md-selected-item-change="vm.search(item.phrase)"
                    md-delay="400"
                    md-min-length="3"
                    placeholder="Enter a phrase to translate">
                <md-item-template>
                    <span md-highlight-text="vm.searchPhrase">{{item.phrase}}</span>
                </md-item-template>
            </md-autocomplete>
            <md-input-container>
                <md-button class="md-raised md-primary md-accent" type="submit">
                    <i class="fa fa-search"></i> Search
                </md-button>
            </md-input-container>
        </div>
    </form>
</md-toolbar>

<div layout="row" layout-align="center" layout-padding layout-wrap layout-fill>
    <ui-view flex-sm="45" flex-gt-sm="55" flex-gt-md="35"
             layout layout-align="center center"></ui-view>



</div>

