<div layout layout-align="center center" class="languageSelector">
    <md-input-container>
        <md-select ng-model="vm.langFrom" aria-label="Language From">
            <md-option value="en">
                <span class="flag-icon flag-icon-gb"></span>
                <span class="langName">English</span>
            </md-option>
            <md-option value="pl">
                <span class="flag-icon flag-icon-pl"></span>
                <span class="langName">Polish</span>
            </md-option>
            <md-option value="es">
                <span class="flag-icon flag-icon-es"></span>
                <span class="langName">Spanish</span>
            </md-option>
            <md-option value="fr">
                <span class="flag-icon flag-icon-fr"></span>
                <span class="langName">French</span>
            </md-option>
            <md-option value="de">
                <span class="flag-icon flag-icon-de"></span>
                <span class="langName">German</span>
            </md-option>
        </md-select>
    </md-input-container>
    <md-button class="md-icon-button"
        ng-click="vm.switchLanguages()">
        <i class="fa fa-exchange"></i>
    </md-button>
    <md-input-container>
        <md-select  ng-model="vm.langTo" aria-label="Language To">
            <md-option value="en">
                <span><span class="flag-icon flag-icon-gb"></span></span>
                <span class="langName">English</span>
            </md-option>
            <md-option value="pl">
                <span class="flag-icon flag-icon-pl"></span>
                <span class="langName">Polish</span>
            </md-option>
            <md-option value="es">
                <span class="flag-icon flag-icon-es"></span>
                <span class="langName">Spanish</span>
            </md-option>
            <md-option value="fr">
                <span class="flag-icon flag-icon-fr"></span>
                <span class="langName">French</span>
            </md-option>
            <md-option value="de">
                <span class="flag-icon flag-icon-de"></span>
                <span class="langName">German</span>
            </md-option>
        </md-select>
    </md-input-container>
</div>