.languageSelector .md-select-value .md-select-icon {
    display:none;
}

.languageSelector .md-text .langName {
    display:none;
}

.languageSelector .md-select-value {
    min-width:30px;
    border-bottom: none;
}

.languageSelector .md-button.md-icon-button {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}