<div layout="column" layout-align="center center" ng-if="vm.state ==='loading'">
    <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
</div>

<div layout="column" layout-align="center" flex ng-if="vm.state === 'notFound'">
    <md-card class="alert">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    <i class="fa fa-exclamation-circle"></i>
                    Translation not found :(
                </span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>

<div layout="column" layout-align="center" flex ng-if="vm.state === 'disambiguation'">
    <md-content>
        <md-list flex>
            <md-subheader class="md-no-sticky">Please specify what you mean:</md-subheader>
            <md-list-item ng-repeat="phrase in vm.result.disambiguation"
                          class="md-1-line" ui-sref="{ phrase: phrase.title }">
                <p> {{ phrase.title }} </p>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<div layout="column" layout-align="center" flex ng-if="vm.state === 'result'">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ vm.result.translation.phrase }}</span>
                <span class="md-subhead">
                    <span class="flag-icon" ng-class="'flag-icon-' + vm.result.translation.langcode"></span>
                    {{ vm.result.translation.langname }}
                    ({{ vm.result.translation.autonym }})
                </span>
                <md-chips ng-model="vm.result.translation.related" readonly="true">
                    <md-chip-template>
                        <span ngclipboard ng-click="vm.showCopyConfirmation($chip.title)"
                              data-clipboard-text="{{ $chip.title }}">
                          <i class="fa fa-clone"></i> {{$chip.title}}
                        </span>
                    </md-chip-template>
                    <button md-chip-remove class="md-primary vegetablechip">
                        <md-icon md-svg-icon="md-close"></md-icon>
                    </button>
                </md-chips>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img ng-src="{{ vm.result.original.thumbnail }}" />
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button ngclipboard
                ng-click="vm.showCopyConfirmation(vm.result.translation.phrase)"
                data-clipboard-text="{{ vm.result.translation.phrase }}">
                <i class="fa fa-clone"></i> Copy
            </md-button>
            <md-button href="{{ vm.result.translation.url }}" target="_blank">
                Open in <i class="fa fa-wikipedia-w"></i>
            </md-button>
        </md-card-actions>
    </md-card>
</div>

