md-card.original-summary {
    line-height:1.5em;
}

md-card.original-summary .highlight {
    font-weight: bold;
}

.ng-enter.ng-enter-active  md-card{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}

.ng-enter .md-card{
    opacity: 0;
    -webkit-transform: translate(0, -200%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -200%);
}

md-card md-card-title md-card-title-media .results-thumbnail {
    margin-left: 10px;
    overflow:hidden;
    border-radius: 50%;
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


md-card.results-card .md-chips .md-chip {
    cursor:pointer;
}

md-card.results-card  .md-chips .md-chip:hover {
    background-color: #BDBDBD;
}

md-card.results-card md-chips .md-chips {
    box-shadow: none;
}

md-card.danger-message {
    color: #DD2C00;
    background: #FBE9E7;
}
